<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Black Belt</title>
</head>
<body>
<h1>Create trip</h1>
<form action="add_trip" method="POST">
    {% csrf_token %}
    Destination: <input type="text" name="place"><br>
    Description: <input type="text" name="disc"><br>
    Start Date: <input type="date" name="start"><br>
    End Date: <input type="date" name="end"><br>
    <input type="submit" value="Add">
</form>
    {%if messages %}
    <ul>
        {% for message in messages%}
        <li style="color: red;">{{message}}</li>
        {%endfor%}
    </ul>
    {% endif %} 
</body>

</html>